$color-primary: #21D07A;
$color-primary-hover: #23784f;
$color-error: #F73F52;
$color-background: #093545;
$color-input: #224957;
$color-card: #092C39;
$color-card-hover: #092934;
$color-card-outline-hover: #131c3e;
$color-text: #C3C8D4;

$base-font: Montserrat, sans-serif;

$body-extra-large: 20px;
$body-large: 18px;
$body-regular: 16px;
$body-small: 14px;
$body-xsmall: 12px;
$caption: 14px;
