@import '/styles/base.scss';

.primaryButton {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  background-color: $color-primary;
  min-height: 54px;
  color: white;
  font-family: $base-font;
  font-size: $body-regular;
  box-shadow: none;
  &:hover {
    background-color: $color-primary-hover !important;
    color: white !important;
  }
}
